<!doctype html>
<html class="no-js" lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Default Title</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="format-detection" content="telephone=no">
        <!-- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers -->
        <meta name="HandheldFriendly" content="true">

        <!-- Stylesheet -->
        <link href="static/css/main.css" rel="stylesheet" type="text/css">
        <link href="static/css/separate-css/custom.css" rel="stylesheet" type="text/css">

        <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- Favicons -->
        <link rel="icon" type="image/png" href="favicon.ico">

        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>

    </head>

    <body>

        <!-- Login Begin -->
        <section class="login">
            <div class="login__inner">
                <div class="login__logo">
                    <img src="static/img/general/logo.png" alt="">
                </div>
                <div class="login__form">
                    <div class="login__header">
                        <h2 class="login__header-title">Не удаётся войти в систему?</h2>
                        <div class="login__header-text">Укажите почту, которую использовали при регистрации, и мы отправим вам ссылку на восстановление пароля.</div>
                    </div>
                    <div class="control">
                        <div class="control__label">Ваш Email</div>
                        <input type="text" class="control__input" placeholder="Example@email.com">
                    </div>
                    <button type="submit" class="button -blue login__button">Восстановить пароль</button>
                    <div class="text-center">
                        <a href="#" class="login__link">Назад</a>
                    </div>
                </div>
            </div>
            <div class="login__bottom">
                <div class="login__website">kamiapp.com</div>
                <div class="login__copyright">2020, kamiapp TOO</div>
            </div>
        </section>
        <!--/. Login End -->

        <!-------------------------------- CONTENT ENDS HERE -------------------------------->

        <!-- Back-to-top -->
        <a href="#" class="back-to-top js-back-to-top">
            <i class="fas fa-angle-double-up"></i>
        </a>

        <!-- Modals Begin -->
        <noindex>

            <!-- Modal Preview Begin -->
            <div class="modal modal-preview" id="modal-preview">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body px-3 py-4 p-lg-5">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"></button>
                            <form class="form">
                                <h2 class="tx-semibold mb-4">Гуакамоле с начос</h2>
                                <div class="d-flex flex-wrap mb-3">
                                    <img src="static/img/content/p1.jpg" class="modal-preview__img" alt="">
                                    <img src="static/img/content/p1.jpg" class="modal-preview__img" alt="">
                                    <img src="static/img/content/p1.jpg" class="modal-preview__img" alt="">
                                    <img src="static/img/content/p1.jpg" class="modal-preview__img" alt="">
                                    <img src="static/img/content/p1.jpg" class="modal-preview__img" alt="">
                                    <img src="static/img/content/p1.jpg" class="modal-preview__img" alt="">
                                </div>
                                <div class="control">
                                    <div class="control__label">Краткое описание</div>
                                    Соған ұқсаған іштегі жан қуатыменен жиған нəрсенің аты ақыл, ғылым еді ғой.
                                </div>
                                <div class="control">
                                    <div class="control__label">Описание</div>
                                    Соған ұқсаған іштегі жан қуатыменен жиған нəрсенің аты ақыл, ғылым еді ғой.
                                </div>
                                <div class="control">
                                    <div class="control__label">Верхний уровень</div>
                                    Основное меню
                                </div>
                                <div class="control">
                                    <div class="control__label">Теги</div>
                                    <div class="tags">
                                        <div class="tags__item">Привет</div>
                                        <div class="tags__item">Мир</div>
                                        <div class="tags__item">Кошки</div>
                                    </div>
                                </div>
                                <div class="row" data-gutter="15">
                                    <div class="col-md-4">
                                        <div class="control">
                                            <div class="control__label">Надпись возле цены</div>
                                            Порция
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="control">
                                            <div class="control__label">Цена</div>
                                            12321 тг
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="control">
                                            <div class="control__label">Перечерк. цена</div>
                                            <s>1232 тг</s>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" data-gutter="15">
                                    <div class="col-md-4">
                                        <div class="control">
                                            <div class="control__label">Надпись возле цены</div>
                                            Порция
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="control">
                                            <div class="control__label">Цена</div>
                                            12321 тг
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="control">
                                            <div class="control__label">Перечерк. цена</div>
                                            <s>1232 тг</s>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__buttons mt-4">
                                    <div class="form__buttons-left">
                                        <a href="#" class="button -blue modal__button">Редактировать</a>
                                        <button aria-label="Close" class="button -bordered_blue modal__button" data-dismiss="modal" type="button">Отмена</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--/. Modal Preview End -->


            <!-- Modal Alert Begin -->
            <div class="modal" id="modal-alert">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center px-3 py-5 p-lg-5">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"></button>
                            <h2 class="tx-semibold mb-4">Вы точно хотите удалить?</h2>
                            <button aria-label="Close" class="button -blue modal__button" data-dismiss="modal" type="button">Подтвердить</button>
                            <button aria-label="Close" class="button -bordered_blue modal__button" data-dismiss="modal" type="button">Отмена</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--/. Modal Alert End -->

            <!-- Modal Success Begin -->
            <div class="modal" id="modal-success">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center px-3 py-5 p-lg-5">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"></button>
                            <h2 class="tx-green tx-semibold">Congratulations!</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                            <button aria-label="Close" class="button -blue modal__button" data-dismiss="modal" type="button">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--/. Modal Success End -->

            <!-- Modal Failed Begin -->
            <div class="modal" id="modal-failed">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body text-center px-3 py-5 p-lg-5">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"></button>
                            <h2 class="tx-red tx-semibold">Error: Cannot process your entry!</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
                            <button aria-label="Close" class="button -blue modal__button" data-dismiss="modal" type="button">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--/. Modal Failed End -->

            <!-- Video Modal Begin -->
            <div class="video-modal">
                <div class="video-modal__content">
                    <iframe class="video-modal__iframe" width="100%" height="100%" frameborder="0" allowfullscreen src=></iframe>
                    <a href="#" class="video-modal__close">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="24" height="24">
                            <path fill="currentColor" d="M30.3448276,31.4576271 C29.9059965,31.4572473 29.4852797,31.2855701 29.1751724,30.980339 L0.485517241,2.77694915 C-0.122171278,2.13584324 -0.104240278,1.13679247 0.52607603,0.517159487 C1.15639234,-0.102473494 2.17266813,-0.120100579 2.82482759,0.477288136 L31.5144828,28.680678 C31.9872448,29.1460053 32.1285698,29.8453523 31.8726333,30.4529866 C31.6166968,31.0606209 31.0138299,31.4570487 30.3448276,31.4576271 Z"></path>
                            <path fill="currentColor" d="M1.65517241,31.4576271 C0.986170142,31.4570487 0.383303157,31.0606209 0.127366673,30.4529866 C-0.12856981,29.8453523 0.0127551942,29.1460053 0.485517241,28.680678 L29.1751724,0.477288136 C29.8273319,-0.120100579 30.8436077,-0.102473494 31.473924,0.517159487 C32.1042403,1.13679247 32.1221713,2.13584324 31.5144828,2.77694915 L2.82482759,30.980339 C2.51472031,31.2855701 2.09400353,31.4572473 1.65517241,31.4576271 Z"></path>
                        </svg>
                    </a>
                </div>
                <div class="video-modal__overlay"></div>
            </div>
            <!--/. Video Modal End -->

        </noindex>
        <!--/. Modals End -->

        <!-- Main scripts. You can replace it, but I recommend you to leave it here -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="static/js/main.js"></script>
        <script src="static/js/separate-js/scripts.js"></script>

    </body>

</html>
